/*==================================
=            common css            =
==================================*/
body {
  /* background-color: #f8f8f8; */
  font-size: 16px;
  font-family: 'Lora', serif;
}

a {
  color: #1c1c1c;
}
a:hover {
  color: #ff0000; /* CHANGED FROM #265196 to RED */
  text-decoration: none;
}
a:focus {
  outline: 0;
}

.product-heading {
  font-size: 18px;
  border-bottom: 2px solid #333; /* Changed to Black or Red */
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.section-heading {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  position: relative;
}
.section-heading::after {
  background-color: #ff0000; /* CHANGED FROM #265196 to RED */
  bottom: -7px;
  content: "";
  height: 3px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 70px;
}

.section {
  padding: 80px 0;
}

.button {
  background-color: #ffffff;
  border-radius: 40px;
  border: 2px solid #ffffff;
  color: #1c1c1c;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.7;
  padding: 10px 40px;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
  min-width: 200px;
}
.button:hover {
  background-color: #265196;
  color: #ffffff;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

/*=====  End of common css  ======*/

/*=====================================
=            search-wrapper            =
=====================================*/
.search-wrapper {
  position: relative;
  z-index: 9;
  background-color: #265196;
  padding: 15px 0;
  display: none;
}
.search-wrapper #search-close {
  color: #ffffff;
  font-size: 21px;
  margin-left: 20px;
  line-height: 38px;
  cursor: pointer;
}
.search-wrapper ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;
}
.search-wrapper ::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
}
.search-wrapper :-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff;
}
.search-wrapper :-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
}
.search-wrapper .input-group-text {
  cursor: pointer;
}
.search-wrapper .form-control, .search-wrapper .input-group-text {
  background-color: transparent;
  border: none;
  color: #ffffff;
}
.search-wrapper .form-control:focus, .search-wrapper .input-group-text:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/*=====  End of search-wrapper  ======*/
/*==================================
=            navigation            =
==================================*/
.sticky-wrapper {
  height: auto !important;
  background: #fff; /* Ensure sticky header is white */
}

/* 1. Main Container - White Background & Borders */
.top-nav-main {
  width: 100%;
  z-index: 99999;
  box-shadow: none; /* Remove heavy shadow */
  border-top: 1px solid #e1e1e1;    /* Light gray top border */
  border-bottom: 2px solid #e1e1e1; /* Light gray bottom border */
  position: relative;
  background-color: #ffffff;
}

.top-nav-sports {
  background-color: #ffffff !important;
}

/* 2. Nav Links - Black Text & Clean Look */
.top-nav-sports .navbar-nav .nav-item .nav-link {
  white-space: nowrap;
  color: #111111 !important;
  
  /* UPDATED: Reduced padding to bring items closer */
  padding: 12px 10px !important; 
  
  font-family: 'SolaimanLipi', 'Noto Sans Bengali', sans-serif !important;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  transition: all 0.3s ease;
  background: transparent !important;
}

/* 3. Home Icon Specifics */
.top-nav-sports .navbar-nav .nav-item#home .nav-link i {
  font-size: 20px;
  color: #333;
  transition: color 0.3s ease;
}

/* 4. Hover & Active States (Text & Icons) */

/* General Text Links: Turn Red on Hover or Active */
.top-nav-sports .navbar-nav .nav-item:hover .nav-link,
.top-nav-sports .navbar-nav .nav-item.active .nav-link,
.top-nav-sports .navbar-nav .nav-item .nav-link.active {
    color: #ff0000 !important;
    background-color: transparent !important;
}

/* Home Icon Specific: Turn Red on Hover or Active */
.top-nav-sports .navbar-nav .nav-item#home:hover .nav-link i,
.top-nav-sports .navbar-nav .nav-item.active#home .nav-link i,
.top-nav-sports .navbar-nav .nav-item#home .nav-link.active i {
    color: #ff0000 !important;
}

/* Bottom Underline: Ensure it appears on Active too */
.top-nav-sports .navbar-nav .nav-item.active:after,
.top-nav-sports .navbar-nav .nav-item:hover:after {
    transform: scaleX(1);
    background-color: #ff0000;
}

/* 5. Bottom Underline Animation (Red) */
.top-nav-sports .navbar-nav .nav-item {
  position: relative;
}
.top-nav-sports .navbar-nav .nav-item:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  background-color: #ff0000; /* Red underline */
  transition: transform 0.3s ease;
}
.top-nav-sports .navbar-nav .nav-item:hover:after,
.top-nav-sports .navbar-nav .nav-item.active:after {
  transform: scaleX(1);
}

/* 6. Dropdown Menu Styling */
.top-nav-sports .dropdown-menu {
  border: 1px solid #eee;
  background-color: #ffffff !important;
  border-top: 3px solid #ff0000; /* Red top border for dropdown */
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  border-radius: 0;
  padding: 0;
}

.top-nav-sports .dropdown-menu .nav-item .nav-link {
  color: #333 !important;
  padding: 10px 20px !important;
  border-bottom: 1px solid #f1f1f1;
  font-size: 16px;
}

.top-nav-sports .dropdown-menu .nav-item:hover .nav-link {
  background-color: #f9f9f9 !important;
  color: #ff0000 !important;
  padding-left: 25px !important; /* Slide effect */
}

/* 7. Dropdown Arrow (Chevron) */
.dropdown-toggle::after {
  content: "\f107"; /* FontAwesome Down Arrow */
  font-family: fontawesome;
  border: none;
  font-size: 14px;
  margin-left: 6px;
  vertical-align: middle;
  color: #888; /* Grey arrow color */
}
.nav-item:hover .dropdown-toggle::after {
  color: #ff0000; /* Red arrow on hover */
}

/* Mobile Toggler */
.top-nav-sports .navbar-toggler {
  color: #000;
  border-color: #000;
}
.top-nav-sports .iconbar {
  color: #000 !important;
}

/* Mega Menu & Submenu Adjustments */
.dropdown-menu .container {
  background: #fff;
  border: none;
  box-shadow: none;
}
.dropdown-item {
  background-color: #fff;
  color: #333;
}
.dropdown-item:hover {
  background-color: #f4f4f4;
  color: #ff0000;
}
/*=====  End of navigation  ======*/
/*=========== TOP NAV START SEARCH BAR TOGGLE STYLE ===============*/
.top-search {
  display: none;
}
.top-search {
  padding: 7px 0 7px 0;
  /* background: #fff; */
  /* position: relative; */
  position: absolute;
  z-index: 9999;
  width: 100%;
}
.top-search-secton {
  float: right;
  margin-right: 0px;
  margin-top: -5px;
  background: #fff;
  padding: 5px;
}
.top-search .input-group-addon {
  background-color: transparent;
  border: none;
  color: #19232d;
  padding-left: 0;
  padding-right: 0;
}
.top-search input.form-control {
  background: #fff;
  border: 2px solid #f0f0ed;
  color: #000;
  height: 34px;
  line-height: 34px;
  display: block;
  padding: 8px 1%;
  font-size: 15px;
  font-family: SolaimanLipi;
}
.top-search .input-group-addon {
  background-color: transparent;
  border: none;
  color: #19232d;
  padding-left: 0;
  padding-right: 0;
  width: 30px;
  height: 30px;
  text-align: center;
}
.top-search .input-group-addon .fa {
  font-size: 19px;
  line-height: 30px;
  padding: 2px 6px;
  color: #fff;
  background: #333333; /* CHANGED FROM #00A651 to BLACK */
  /* OR use background: #ff0000; for Red */
  transition: all 0.5s ease 0s;
  cursor: pointer;
}

.top-search .input-group-addon .fa:hover {
  background: #ff0000; /* Red on hover */
  color: #fff;
}
.top-search .input-group-addon.close-search {
  cursor: pointer;
}
.attr-nav{
  display: inline-block;
  position: relative;
  float: right;
}
.attr-nav ul {
  margin: 0;
  padding: 0;
}
.attr-nav ul li {
  list-style: none;
}
.attr-nav ul li a {
    color: #000 !important; /* Changed from #fff to #000 */
    font-size: 22px;
    line-height: 35px;
    margin-top: 1px;
    display: inline-block;
    padding-right: 5px;
    transition: all 0.3s ease;
}

/* Keep Red on Hover */
.attr-nav ul li a:hover {
    color: #ff0000 !important;
}
.top-search input.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.01);
}
/*====== TOP NAV END SEARCH BAR TOGGLE STYLE ============*/

/*=====================================
=            media queries            =
=====================================*/
@media screen and (min-width: 992px) {
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* --- FIX: Full Width Justified Menu --- */
  .top-nav-sports .navbar-collapse {
    width: 100%;
    display: flex;
    flex-grow: 1; /* Forces the container to fill empty space */
  }

  .top-nav-sports .navbar-nav {
    width: 100%;                    /* Take full width of collapse container */
    display: flex;                  /* Enable Flexbox */
    justify-content: space-between; /* Spread items evenly to edges */
    align-items: center;            /* Vertically center items */
  }
  /* --------------------------------------- */

  /* Dropdown Menu Animation & Style */
  .navbar .dropdown-menu {
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #eee;
    border-top: 3px solid #ff0000;
    display: block;
    left: 0;
    opacity: 0;
    padding: 0;
    right: 0;
    top: 100%;
    transform-origin: 0 0;
    transform: rotateY(75deg);
    transition: 0.3s linear all;
    visibility: hidden;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }
  
  .navbar .dropdown:hover > .dropdown-menu {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
  
  .navbar .dropdown-submenu {
    position: relative;
  }
  
  .navbar .dropdown-submenu .dropdown-menu {
    left: 100%;
    top: -2px;
    transform: scaleY(0);
  }
  
  .navbar .dropdown-submenu:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }
  
  .dropdown-sub-menu li:last-child a {
    border-bottom: 1px solid #eee;
  }
  
  .dropdown-sub-menu {
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.22);
  }
  
  /* Reset Background for Active Items on Desktop */
  .top-nav-sports .navbar-nav .nav-item .active {
    background: transparent !important;
  }
  
  .dropdown-sub-menu li a {
    border-bottom: 1px solid #eee;
  }
  
  /* Green border for last item in sub-menu (optional, can be changed to red if desired) */
  .dropdown-sub-menu li:last-child a {
    border-bottom: 2px solid #00A651;
  }
}
@media screen and (max-width: 992px) {
  #navbarSupportedContent {
    position: absolute;
    top: 100%; /* Align below header */
    background-color: #ffffff;
    padding: 10px 20px;
    left: 0;
    right: 0;
    height: auto !important;
    max-height: 80vh;
    overflow-y: auto;
    border-top: 1px solid #eee;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }

  .top-nav-sports .navbar-container {
    justify-content: flex-start;
    position: relative;
  }
  .top-nav-sports .offcanvas-navbar {
    position: absolute;
    right: 0;
    top: -3px;
    flex-direction: unset;
  }
  .top-nav-sports .navbar-collapse .navbar-nav .nav-item .nav-link {
    width: 100%;
    padding: 12px 10px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 17px;
    color: #111; /* Black Text */
  }
  .top-nav-sports .navbar-nav .nav-item .nav-link:hover {
    width: 100%;                  /* Force full width */
    justify-content: space-between; /* Distribute space evenly between items */
    display: flex;
    background: #f9f9f9; /* Light Gray Background */
    color: #ff0000; /* Red Text */
    padding-left: 15px; /* Slide effect */
  }
  .top-nav-sports .navbar-collapse .navbar-nav .nav-item .nav-link:last-child {
    /* border-bottom: none; */
  }

  .main-wrapper .content-wrapper h1 {
    font-size: 30px;
  }
  .main-wrapper .content-wrapper p {
    font-size: 16px;
  }
  .attr-nav {
    position: absolute;
    float: right;
    right: 15px;
    top: 5px;
  }
  .attr-nav ul li a {
    color: #333; /* Dark icon for mobile */
  }
  .dropdown-item {
    background-color: #fff;
  }
  .top-nav-sports .dropdown-item {
    font-size: 15px;
  }

}
@media screen and (max-width: 767px) {
  .top-nav-sports .product-heading, .top-nav-sports .shop-heading {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    padding: 10px 0;
    position: relative;
  }
  .top-nav-sports .product-heading:after, .top-nav-sports .shop-heading:after {
    content: "\f107";
    float: right;
    font-family: fontawesome;
    line-height: 30px;
    position: absolute;
    right: 0;
  }
  .top-nav-sports .product-dropdown-list, .top-nav-sports .shop-dropdown-list {
    display: none;
  }
  .top-nav-sports .product-dropdown-list.active, .top-nav-sports .shop-dropdown-list.active {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .top-nav-sports .product-dropdown-list a, .top-nav-sports .shop-dropdown-list a {
    cursor: pointer;
  }
  .top-nav-sports .product-dropdown-menu .product-heading {
    font-size: 14px;
    font-weight: normal;
  }
  .navbar-nav .nav-item .dropdown-toggle::after {
    line-height: 45px;
    margin-right: 20px;
  }

}
@media screen and (max-width: 576px) {
  .section {
    padding: 50px 0;
  }

  .section-heading {
    font-size: 27px;
    margin-bottom: 20px;
  }

  .button {
    padding: 6px 30px;
    font-size: 14px;
  }
}
/*=====  End of media queries  ======*/

.dropdown-toggle-desktop::after {
  display: none;
}
.navbar-toggler {
  font-size: 25px;
  line-height: 25px;
  border: none;
  border-radius: 0;
  padding: 0;
}
.top-nav-sports .iconbar {
    color: #fff;
}
#undefined-sticky-wrapper {
    height: unset!important;
}
.sticky-wrapper {
    z-index: 9999;
}
/* =========================================
   SOCIAL ICONS BLACK & WHITE STYLING
========================================= */